@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.heading{
    color: black;
    font-family:roboto;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    font-size: 18px;
    margin: 15px;
}
.sec-head{
    color: chocolate;
    font-size: 18px;
    font-family: roboto;
    font-weight: bold;
    
}
.image{
    height: 220px;
    width: 190px;
    border-radius: 15px;
    text-align: left;
    margin: 15px;
}
.wcu-card {
    background-color: white;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #e5eaf4;

}
.wcu-section-heading {
    font-weight: 700;
    font-size: 18px;
    font-family: Roboto;
    margin-left: 20px;
    margin-bottom: 0px;
}